body {
  background-image: url("../images/bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-color: #ff7a7a;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1440px;
  height: 100vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.content {
  width: 720px;
  margin: auto;
}

#left-content {
  color: white;
}

#left-content h1 {
  font-weight: 700;
  width: 50%;
  margin: 1rem auto;
}

#left-content p {
  font-weight: 300;
  width: 50%;
  margin: auto;
}

#right-content {
  text-align: center;
}

#right-content .right-content-item {
  width: 400px;
  margin: 30px auto;
}

#right-content #btn {
  height: 50px;
  width: 100%;
  background-color: #6055a5;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 300;
  -webkit-box-shadow: 0 5px 5px gray;
          box-shadow: 0 5px 5px gray;
}

#right-content #btn span {
  font-weight: 700 !important;
}

#right-content #form {
  margin: auto;
  padding: 20px 0;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 5px gray;
          box-shadow: 0 5px 5px gray;
}

#right-content #form .form-item {
  margin: 15px auto;
}

#right-content #form input {
  width: 300px;
  height: 30px;
  background-image: none;
  background-position: 95% 50%;
  background-repeat: no-repeat;
  padding: 5px 20px;
  border-radius: 5px;
  border: 0.5px solid #b9b6d3;
  font-weight: 600;
}

#right-content #form button {
  width: 340px;
  height: 40px;
  padding: 5px 20px;
  border-radius: 5px;
  border: 0.5px solid #b9b6d3;
  -webkit-box-shadow: 0 5px 5px gray;
          box-shadow: 0 5px 5px gray;
  background-color: #38cc8c;
  color: white;
  font-weight: 600;
}

#right-content #form h6 {
  font-size: .5rem;
  color: #b9b6d3;
}

#right-content #form h6 span {
  color: #ff7a7a;
  font-weight: 700;
}

.error {
  width: 342px;
  height: 20px;
  margin: auto;
  display: none;
}

.error span {
  float: right;
  color: red;
  font-style: italic;
  font-size: .7rem;
  font-weight: 300;
}

@media only screen and (min-width: 375), only screen and (max-width: 768px) {
  body {
    background-image: url("../images/bg-intro-mobile.png");
  }
  .container {
    max-width: 375px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .container .content {
    width: 345px;
    margin: auto;
    padding: 15px;
  }
  .container #left-content h1 {
    width: 100%;
  }
  .container #left-content p {
    width: 100%;
  }
  .container #right-content .right-content-item {
    width: 300px;
  }
  .container #right-content #btn {
    width: 300px;
    margin: auto;
  }
  .container #right-content #form input {
    width: 200px;
  }
  .container #right-content #form button {
    width: 250px;
  }
  .container #right-content #form h6 {
    width: 200px;
    margin: auto;
  }
  .error {
    width: 242px;
  }
}
/*# sourceMappingURL=style.css.map */